<ul>
    <li class="footer-link"><a href="">reddit</a></li>
    <li class="footer-link"><a href="">Steam Group</a></li>
    <li class="footer-link"><a href="">Discord</a></li>
    <li class="footer-link"><a href="">NationStates</a></li>
</ul>