<!DOCTYPE html>
<html>
<head>
    <title>Cobaltia</title>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <h1>Cobalt Network</h1>
    </header>
    <main>
        <p>H</p>
        <a href="/auth/login">login</a>
    </main>
</body>
</html>