<!DOCTYPE html>
<html>
<head>
    <title>Cobaltia</title>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <h1 class="title">Cobalt Network</h1>
        <% include ../partials/navbar %>
    </header>
    <main>
        <p>Welcome to the official cobalt network website</p>
    </main>
</body>
</html>