<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <h1 class="title">Cobalt Network</h1>
        <% include ../partials/navbar %>
    </header>
</body>
</html>